{
    "Checks": "\
        *,\
        -fuchsia*,\
    ",
    "WarningsAsErrors": "\
        *,\
        -clang-diagnostic-unused-command-line-argument,\
        -cert-err58-cpp,\
        -google-runtime-int,\
    ",
}
