{
    "Checks": "\
        *,\
        -fuchsia*,\
        -llvm-namespace-comment,\
        -google-readability-namespace-comments,\
    ",
    "WarningsAsErrors": "\
        *,\
        -cert-err58-cpp,\
        -cert-err60-cpp,\
        -clang-diagnostic-unused-command-line-argument,\
        -cppcoreguidelines-pro-type-vararg,\
        -google-runtime-int,\
    ",
}
